

    


<div class="container-fluid">
    
    <div class="row flex-nowrap"> 
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <li class="nav-item">
                        <a href="/admin" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/admin/users" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
                    </li>
                     <li>
                        <a href="/admin/vendors" class="nav-link px-0 align-middle">
                            <i class="fs-4 fa fa-users"></i> <span class="ms-1 d-none d-sm-inline">Vendors</span></a>
                    </li>
                    {{!-- <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Rooms</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/admin/rooms" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li> --}}
                    {{!-- <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li> --}}
                    <li>
                        <a href="/admin/rooms" class="nav-link px-0 align-middle">
                            <i class="fs-4 fa fa-bed"></i> <span class="ms-1 d-none d-sm-inline">Rooms</span> </a>
                    </li>
                    <li>
                        <a href="/admin/userbooking" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Booking</span> </a>
                    </li>
                     <div class="header__nav__widget">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                 
                                    Admin
                                
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                      
                                        <a class="dropdown-item" href="/admin/logout">Logout</a>
                                        {{!-- <a class="dropdown-item" href="#">Profile</a> --}}
                                      
                                    </li>

                                </ul>
                            </div>

                        </div>
                </ul>
                <hr>
             
                 
            </div>
        </div>
        
      
 
